  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline}
*:focus {outline: 0}
body {line-height: 1em; color: black; background: #fff}
ol, ul {list-style: none}
 table {border-collapse: separate; border-spacing: 0; vertical-align: middle}
caption, th, td {text-align: left; font-weight: normal; vertical-align: middle}
q, blockquote {quotes: "" ""}
q:before, q:after, blockquote:before, blockquote:after {content: ""}
img a {border: none}
 body {background: url(../images/system/bg/background.jpg); width: 100%; height: 100%; margin: 0px; text-align: center}
body a {text-decoration: none; color: black}
body a:hover {color: red}
body #wrapper {width: 962px; margin: 0px auto; text-align: left}
body #wrapper h4 {text-align: center; margin: 3px 0 0 0; text-transform: uppercase}
body #wrapper h1 {text-align: left; margin: 3px 0 0 0; text-transform: uppercase}
body #wrapper h1 a {text-decoration: none}
body #wrapper #header.classified {height: 200px}
body #wrapper #header.whatson {height: 200px}
body #wrapper #header.magazine {height: 200px}
body #wrapper #header {height: 156px; width: 962px; margin-bottom: 13px; float: left}
body #wrapper #header #logo {height: 92px; width: 230px; float: left; margin: 9px 0 2px 0}
body #wrapper #header #date {float: right; margin-top: 75px; color: white}
body #wrapper #header #navbar {height: 53px; width: 962px; float: left; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -92px}
body #wrapper #header #navbar ul {width: 962px; height: 53px; margin: 0px; list-style: none; padding: 0px}
body #wrapper #header #navbar ul li {text-transform: uppercase; float: left; margin: 10px 0 0 21px}
body #wrapper #header #navbar ul li a {text-decoration: none}
body #wrapper #header #navbar ul li h1 {text-transform: uppercase; float: left; margin: 15px 0 0 22px}
body #wrapper #header #navbar ul li#magic-line {margin: 0px}
body #wrapper #header #navbar ul li#home {width: 73px}
body #wrapper #header #navbar ul li#magazine {width: 127px}
body #wrapper #header #navbar ul li#whatson {width: 142px}
body #wrapper #header #navbar ul li#food {width: 73px}
body #wrapper #header #navbar ul li#community {width: 155px}
body #wrapper #header #navbar ul li#classified {width: 143px}
body #wrapper #header #navbar ul li#about {width: 86px}
body #wrapper #header #navbar ul.backend li {margin-top: 15px}
body #wrapper #header #sub_navbar {height: 42px; width: 962px; float: left; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -7227px; margin-top: 3px}
body #wrapper #header #sub_navbar ul {float: left}
body #wrapper #header #sub_navbar ul li {text-transform: uppercase; float: left; margin: 15px 0 0 21px; font-size: 14px}
body #wrapper #header #sub_navbar ul li a {text-decoration: none}
body #wrapper #header #sub_navbar ul li.header {width: 86px; height: 24px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -7918px; background-repeat: no-repeat; margin-top: 10px}
body #wrapper #header #sub_navbar ul li.header span {float: left; padding: 3px 0 0 5px}
body #wrapper #header #sub_navbar ul li.header span.small {padding: 3px 0 0 10px}
body #wrapper #header #sub_navbar ul li.regular {margin-top: 14px; margin-left: 15px; letter-spacing: 0.2px}
body #wrapper #header #sub_navbar ul li.active {margin-top: 14px; margin-left: 15px; letter-spacing: 0.2px}
body #wrapper #header #sub_navbar ul.variables {float: right; margin-right: 80px}
body #wrapper #header #sub_navbar ul.variables li {margin-top: 10px}
body #wrapper #header #sub_navbar ul.variables li h3 {margin-top: 5px}
body #wrapper #header #sub_navbar h1 {text-transform: uppercase; float: left; margin: 15px 0 0 22px}
body #wrapper #left-column {width: 161px; float: left; height: 1546px; background: transparent; margin-right: 8px; margin-bottom: 25px}
body #wrapper #left-column #google_ads {width: 160px; height: 239px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -2746px; margin-left: 1px}
body #wrapper #left-column .header {height: 25px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -145px; margin-top: 11px; float: left; width: 161px}
body #wrapper #left-column #magazine {height: 206px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -170px; float: left; width: 161px}
body #wrapper #left-column #magazine .issue {margin: 5px 20px 0px 20px}
body #wrapper #left-column .media {height: 318px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -466px; float: left; width: 161px}
body #wrapper #left-column .media .image_carousel {float: left; width: 126px; margin-left: 17px}
body #wrapper #left-column .media .image_carousel ul {width: 122px; margin: 0px 17px}
body #wrapper #left-column .media .image_carousel ul li {margin: 0px 0 3px 0; width: 122px; height: 76px; background: white; border: 1px solid #999999; padding: 1px}
body #wrapper #left-column .media .image_carousel ul li img {border: 1px solid #999999}
body #wrapper #left-column .media .arrow_buttons {width: 126px; height: 25px; float: left; margin: 0px 17px}
body #wrapper #left-column .media .previous {background-image: url(../images/system/buttons/left_top.png); background-position: 0px 0px; margin: 6px 17px 3px 17px}
body #wrapper #left-column .media .next {background-image: url(../images/system/buttons/left_bottom.png); background-position: 0px 0px}
body #wrapper #left-column #chat {height: 432px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -784px; float: left; width: 161px}
body #wrapper #left-column #social {height: 90px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -376px; float: left; width: 161px}
body #wrapper #left-column #advertise {height: 107px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -1216px; margin-top: 13px; float: left; width: 161px}
body #wrapper #left-column #work {width: 161px; float: left; height: 86px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -6223px; margin-top: 13px}
body #wrapper #left-column #magazine.magazine {background-position: 0px -8686px; height: 204px}
body #wrapper #main.magazine {width: 492px; float: left; height: 1648px}
body #wrapper #main.whatson {width: 492px; float: left; height: 1648px}
body #wrapper #main {width: 492px; float: left; height: 1525px; background: transparent}
body #wrapper #main .header {width: 492px; float: left; height: 25px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -1323px}
body #wrapper #main #travellers {width: 492px; float: left; height: 288px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -1348px; margin-bottom: 13px}
body #wrapper #main #articles {width: 492px; float: left; height: 379px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -1636px; margin-bottom: 13px}
body #wrapper #main #articles #map_container {margin: 10px 17px 0 17px}
body #wrapper #main .services {width: 231px; float: left; height: 229px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -2015px; margin-bottom: 13px}
body #wrapper #main .services_right {margin-left: 30px}
body #wrapper #main #small_header {width: 443px; float: left; height: 24px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -2244px; margin-left: 24px}
body #wrapper #main #news {width: 492px; float: left; height: 143px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -2268px; margin-bottom: 11px}
body #wrapper #main #news .news_carousel {width: 442px; float: left; height: 143px}
body #wrapper #main #news .news_carousel ul {width: 442px; float: left; height: 143px}
body #wrapper #main #news .news_carousel ul li {width: 392px; float: left; height: 143px; padding: 0 25px}
body #wrapper #main #news .news_carousel ul li p {width: 386px}
body #wrapper #main #news .news_carousel ul li h1 {padding-top: 25px}
body #wrapper #main #news .previous_i {width: 25px; height: 143px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -2268px; float: left}
body #wrapper #main #news .next_i {width: 25px; height: 143px; background-image: url(../images/system/bg/versionSprites.png); background-position: -467px -2268px; float: left}
body #wrapper #main #classified {width: 492px; float: left; height: 335px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -2411px; margin-bottom: 13px}
body #wrapper #main #events_gallery {width: 492px; float: left; height: 246px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -4522px; margin-bottom: 13px}
body #wrapper #main #events_list {width: 492px; float: left; height: 1366px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -4834px}
body #wrapper #main #events_list .header {width: 492px; float: left; height: 43px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -4768px}
body #wrapper #main #events_list .header h1 {margin: 9px 0 0 17px}
body #wrapper #main #events_list .subheader {width: 458px; float: left; height: 23px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -4811px; margin-left: 17px}
body #wrapper #main #events_list .subheader h4 {text-align: left; margin-left: 33px}
body #wrapper #main #events_list ul {width: 458px; float: left; margin-left: 26px; padding-bottom: 24px}
body #wrapper #main #events_list ul li {width: 420px; margin: 10px 10px; list-style: disc outside; float: left}
body #wrapper #main #events_list ul li h4 {text-align: left; width: 80%}
body #wrapper #main #events_list ul li hr {border: 0px; border-top: 1px solid black}
body #wrapper #main #events_list ul li .left {width: 84px; float: left}
body #wrapper #main #events_list ul li .left .left_short {width: 84px; height: 55px; float: left; background: transparent}
body #wrapper #main #events_list ul li .center {width: 325px; float: left; margin-left: 10px}
body #wrapper #main #articles.magazine {width: 492px; height: 744px; background-position: 0 -7942px}
body #wrapper #main #articles.magazine .pagination {float: left; margin-left: 22px}
body #wrapper #main #articles.magazine ol#classifieds li {border-bottom: 1px solid black; margin-left: 17px; width: 458px}
body #wrapper #main #articles.magazine ol#classifieds li h3 {width: 420px; margin: 0 11px}
body #wrapper #main #articles.magazine ol#classifieds li p {width: 420px; margin: 0 11px 5px 11px}
body #wrapper #main #events_footer {width: 458px; float: left; height: 23px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -6200px; margin-left: 17px}
body #wrapper #main #events_footer h4 a {text-decoration: none}
body #wrapper #main #events_footer.magazine {margin: -4px 17px 13px 17px}
body #wrapper #right-column {width: 291px; float: left; height: 1525px; background: transparent; margin-left: 8px}
body #wrapper #right-column .header {width: 291px; float: left; height: 25px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -2985px}
body #wrapper #right-column #whatson {width: 291px; float: left; width: 291px; float: left; height: 322px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -3010px}
body #wrapper #right-column #advertisements {width: 291px; float: left; height: 1062px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -3332px; margin-top: 13px}
body #wrapper #right-column #community_header {width: 244px; float: left; height: 25px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -4394px; margin-top: 13px; margin-left: 24px}
body #wrapper #right-column #community {width: 291px; float: left; height: 81px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -4419px}
body #wrapper #right-column #community_join {width: 186px; float: left; height: 22px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -4500px; margin-left: 54px}
body #wrapper #right-column #what_when {width: 291px; float: left; height: 245px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -6309px}
body #wrapper #right-column #what_when ol.whatson {margin: 15px 20px; padding: 10px 0; height: 205px; overflow-x: hidden; overflow-y: auto}
body #wrapper #right-column #what_when ol.whatson li {width: 190px; margin-bottom: 5px}
body #wrapper #right-column #advertise {width: 291px; float: left; height: 105px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -6554px; margin: 13px 0}
body #wrapper #right-column #single_advertisement {width: 291px; float: left; height: 272px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -6955px; margin-top: 13px}
body #wrapper #right-column #double_advertisement {width: 291px; float: left; height: 534px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -7269px; margin-bottom: 13px}
body #wrapper #right-column #magazine {width: 291px; float: left; height: 295px; background-image: url(../images/system/bg/versionSprites.png); background-position: 0px -6660px}
body #wrapper.whatson {height: 1892px}
body #footer {width: 100%; float: left; height: 225px; background-repeat: repeat-x; margin-top: 14px}
body #wrapper #header {height: 200px}
body #wrapper #content {float: left; width: 100%; background: red}