<ul id="nav">
	<% for page in @pages %>
		<li><%= link_to page.navlabel, view_page_path(page.name.gsub(/ /,"-")) if page.subpages.empty? %>
		<%= link_to page.navlabel, "#" unless page.subpages.empty? %>
		 	<% if page.subpages.empty? %>
			
			<% else	%>	 	
				<ul>
					<% for subpage in page.subpages %>
						<li>
						<%= link_to subpage.navlabel, view_page_path(subpage.name.gsub(/ /,"-"))  %>
						
							<% if subpage.subpages.empty? %>
							
							<% else %>
								<ul>
									<% for subpage in subpage.subpages %>
										<li><%= link_to subpage.navlabel, view_page_path(subpage.name.gsub(/ /,"-")) %></li>
									<% end %>
								</ul>
							<% end %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</li>	
	<% end %>
</ul> 
